doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no", initial-scale="1")
		link(rel="stylesheet", type="text/css", href="../css/team.css")
		link(rel="stylesheet", type="text/css", href="../css/font-awesome.min.css")
		title Lanza tus mejores ideas!
	body
		div(class="global")
			header(class="header")
				div(class="header-txt")
					img(class="header-txt-button", id="botoncito",src="../img/menuicon.png")
					img(class="header-txt-logo" src="../img/logo.png")
					div(class="header-txt-titulos")
						h1 EQUIPO
						h4 Bienvenido 
							span &#62; Equipo
				nav
					ul(id="mimenu",class="Menu-lista")
						img(src="../img/close.png", class="cerrar", id="close")
						div(class="flex-menu")
							div
								img(src="../img/logowhite.png")
							li(class="flex-menu-item")
								a(href="../index.html", class="flex-menu-item-link") Home
							li(class="flex-menu-item")
								a(href="./services.html", class="flex-menu-item-link") Servicios
							li(class="flex-menu-item")
								a(href="./team.html", class="flex-menu-item-link") Equipo
							li(class="flex-menu-item")
								a(href="./contacto.html", class="flex-menu-item-link") Contacto
			article(id="contenedor", class="content")
				div(class="content-text-efecto")
					div(class="content-text-efecto-encima")
						p(class="titulo") Conoce a nuestro equipo
						p(class="texto")  Como XPRESA WEB te damos todas las armas que necesitas para que tu negocio no tenga nada que envidiar a las grandes marcas y se haga de su lugar en el mercado desde un sitio web con clase y funcionabilidad, hasta llevar su marca a las redes sociales por medio de una estrategia
				div(class="content-text-team")
					div(class="content-text-team-item")
						div(class="content-text-team-item-card")
							div(class="front team1")
							div(class="back team1")
								div(class="back-info")
									h2 Leonel 
									h2 Rosales
									h5 Director General
									div(class="socialMedia")
										a(href="#")
											i(class="fa fa-facebook")
									div(class="socialMedia")
										a(href="#")
											i(class="fa fa-instagram")
					div(class="content-text-team-item")
						div(class="content-text-team-item-card")
							div(class="front team2")
							div(class="back team2")
								div(class="back-info")
									h2 Luis G. 
									h2 Martinez
									h5 Jefe de Desarrollo
									div(class="socialMedia")
										a(href="#")
											i(class="fa fa-facebook")
									div(class="socialMedia")
										a(href="#")
											i(class="fa fa-instagram") 
					div(class="content-text-team-item")
						div(class="content-text-team-item-card")
							div(class="front team3")
							div(class="back team3")
								div(class="back-info")
									h2 Rafael
									h2 Alfaro
									h5 Jefe de Infraestructura
									div(class="socialMedia")
										a(href="#")
											i(class="fa fa-facebook")
									div(class="socialMedia")
										a(href="#")
											i(class="fa fa-instagram") 
					div(class="content-text-team-item")
						div(class="content-text-team-item-card")
							div(class="front team4")
							div(class="back team4")
								div(class="back-info")
									h2 Daniel 
									h2 Melendez
									h5 Director Creativo
									div(class="socialMedia")
										a(href="#")
											i(class="fa fa-facebook")
									div(class="socialMedia")
										a(href="#")
											i(class="fa fa-instagram") 
					div(class="content-text-team-item")
						div(class="content-text-team-item-card")
							div(class="front team5")
							div(class="back team5")
								div(class="back-info")
									h2 Luis 
									h2 Pinto
									h5 Jefe de Diseño
									div(class="socialMedia")
										a(href="#")
											i(class="fa fa-facebook")
									div(class="socialMedia")
										a(href="#")
											i(class="fa fa-instagram")
				footer
					p (+503 71900165)
					p cuentanos@xpresaweb.com
					p CopyRight XpresaWeb
					p All Right Reserver					  
	script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.6/hammer.min.js")

	script.
		
		(function(){
		var boton = document.getElementById('botoncito');
		var menu = document.getElementById('mimenu');
		var close = document.getElementById('close');
		var hammerPanel = new Hammer(document.querySelector("#contenedor"));
		var hammerSide = new Hammer(menu);

		var classname = document.getElementsByClassName("content-text-team-item-card");
		for (var i = 0; i < classname.length; i++) {
			classname[i].addEventListener('mouseover', function(){
			this.classList.add('flip');
			}, false);
		}
		
		hammerPanel.on('swiperight', function(){
		menu.classList.toggle('active');
		document.querySelector("#contenedor").classList.toggle('active');
		boton.style.display="none";
		});

		hammerSide.on('swipeleft', function(){		
		document.querySelector("#contenedor").classList.toggle('active');
		menu.classList.toggle('active');
		boton.style.display="inline";
		});

		boton.addEventListener('click', function(){
			menu.classList.toggle('active');
			document.querySelector("#contenedor").classList.toggle('active');
			boton.style.display="none";
		});

		close.addEventListener('click', function(){
			menu.classList.toggle('active');
			document.querySelector("#contenedor").classList.toggle('active');
			boton.style.display="inline";
		});
		
		}());
					

