doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no", initial-scale="1")
		link(rel="stylesheet", type="text/css", href="./css/main.css")
		title Lanza tus mejores ideas!
	body
		div(class="global")
			header(class="header")
				div(class="header-txt")
					img(class="header-txt-button", id="botoncito",src="./img/menuiconhome.png")
					img(class="header-txt-logo" src="./img/logo.png")
					div(class="header-txt-titulos")
						h1 BIENVENIDO
						h4 Bienvenido 
							span &#62; Servicios
				nav
					ul(id="mimenu",class="Menu-lista")
						img(src="./img/close.png", class="cerrar", id="close")
						div(class="flex-menu")
							div
								img(src="./img/logowhite.png")
							li(class="flex-menu-item")
								a(href="index.html", class="flex-menu-item-link") Home
							li(class="flex-menu-item")
								a(href="services.html", class="flex-menu-item-link") Servicios
							li(class="flex-menu-item")
								a(href="#", class="flex-menu-item-link") Equipo
							li(class="flex-menu-item")
								a(href="#", class="flex-menu-item-link") Contacto
	h1 Prueba
	script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.6/hammer.min.js")

	script.

		
		/*(function(){
		var boton = document.getElementById('botoncito');
		var menu = document.getElementById('mimenu');
		var close = document.getElementById('close');
		var hammerPanel = new Hammer(document.querySelector("#contenedor"));
		var hammerSide = new Hammer(menu);

		
		hammerPanel.on('swiperight', function(){
		menu.classList.toggle('active');
		document.querySelector("#contenedor").classList.toggle('active');
		boton.style.display="none";
		});

		hammerSide.on('swipeleft', function(){		
		document.querySelector("#contenedor").classList.toggle('active');
		menu.classList.toggle('active');
		boton.style.display="inline";
		});

		boton.addEventListener('click', function(){
			menu.classList.toggle('active');
			document.querySelector("#contenedor").classList.toggle('active');
			boton.style.display="none";
		});

		close.addEventListener('click', function(){
			menu.classList.toggle('active');
			document.querySelector("#contenedor").classList.toggle('active');
			boton.style.display="inline";
		});

		}());*/