doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no", initial-scale="1")
		link(rel="stylesheet", type="text/css", href="./css/services.css")
		title Lanza tus mejores ideas!
	body
		div(class="global")
			header(class="header")
				div(class="header-txt")
					img(class="header-txt-button", id="botoncito",src="./img/menuicon.png")
					img(class="header-txt-logo" src="./img/logo.png")
					div(class="header-txt-titulos")
						h1 SERVICIOS
						h4 Bienvenido 
							span &#62; Servicios
				nav
					include ./menu.jade
			article(id="contenedor",class="content")
				section(class="content-slide")
					picture
						source(media="(min-width: 1024px)",srcset="./img/services/Desktop/bkg_service.jpg")
						source(media="(min-width: 768px)",srcset="./img/services/Tablet/bkg_service.jpg")
						source(media="(min-width: 320px)",srcset="./img/services/Mobile/bkg_service.jpg")
						img(src="./img/services/Mobile/bkg_service.jpg")
				div(class="content-text-efecto")
					div(class="content-text-efecto-encima")
						p(class="titulo") Nuestra Especialidad
						p(class="text")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni cupiditate, ut illo asperiores pariatur debitis cumque totam atque neque vitae perspiciatis qui minima odit id, modi nobis reprehenderit, veniam voluptate.
						br
					div(class="content-text-efecto-servicios")
						div(class="menu-service")
							div(class="menu-service-item")
								img(src="./img/menuiconhome.png")
								p(class="menu-service-item-titulo") Desarrollo Web
								p(class="menu-service-item-desc") Desc
						div(class="menu-service")
							div(class="menu-service-item")
								img(src="./img/menuiconhome.png")
								p(class="menu-service-item-titulo") Diseño Grafico
								p(class="menu-service-item-desc") Desc
						div(class="menu-service")
							div(class="menu-service-item")
								img(src="./img/menuiconhome.png")
								p(class="menu-service-item-titulo") Desarrollo de Aplicaciones
								p(class="menu-service-item-desc") Desc
						div(class="menu-service")
							div(class="menu-service-item")
								img(src="./img/menuiconhome.png")
								p(class="menu-service-item-titulo") Web Responsive
								p(class="menu-service-item-desc") Desc
						div(class="menu-service")
							div(class="menu-service-item")
								img(src="./img/menuiconhome.png")
								p(class="menu-service-item-titulo") Imagen de Marca
								p(class="menu-service-item-desc") Desc
						div(class="menu-service")
							div(class="menu-service-item")
								img(src="./img/menuiconhome.png")
								p(class="menu-service-item-titulo") Fotografia
								p(class="menu-service-item-desc") Desc
	script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.6/hammer.min.js")

	script.
		
		(function(){
		var boton = document.getElementById('botoncito');
		var menu = document.getElementById('mimenu');
		var close = document.getElementById('close');
		var hammerPanel = new Hammer(document.querySelector("#contenedor"));
		var hammerSide = new Hammer(menu);

		
		hammerPanel.on('swiperight', function(){
		menu.classList.toggle('active');
		document.querySelector("#contenedor").classList.toggle('active');
		boton.style.display="none";
		});

		hammerSide.on('swipeleft', function(){		
		document.querySelector("#contenedor").classList.toggle('active');
		menu.classList.toggle('active');
		boton.style.display="inline";
		});

		boton.addEventListener('click', function(){
			menu.classList.toggle('active');
			document.querySelector("#contenedor").classList.toggle('active');
			boton.style.display="none";
		});

		close.addEventListener('click', function(){
			menu.classList.toggle('active');
			document.querySelector("#contenedor").classList.toggle('active');
			boton.style.display="inline";
		});
		
		}());